#contact {
  background-color: var(--pink-background);
  padding: 200px 0;
}

.title-contacts {
  color: var(--blue-background);
}

.contact-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.contact-block a {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: var(--blockpink-background);
  filter: drop-shadow(0px 0px 10px rgba(28, 28, 51, 0.24));
  width: 113px;
}

.contact-block a:hover {
  width: var(--size) !important;
  background-color: rgb(226, 211, 237);
}

.contact-block a span {
  font-size: 25px;
  white-space: pre;
  color: var(--blue-background);
  margin-top: 8px;
  overflow: hidden;
}

.contact-block img {
  padding: 20px;
}

.contact-block a {
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .contact-block {
    flex-direction: column;
    align-items: center;
  }

  .contact-block a {
    filter: none;
    border: solid 3px var(--blue-background);
  }

  .contact-block a:hover {
    width: 113px !important;
    background-color: var(--blockpink-background);
  }
}
